<!DOCTYPE html>
<html manifest="app.manifest">
  <head>
    <title>AVT Underground</title>

    <%= javascript_include_tag "mobile" %>
    <%= stylesheet_link_tag "mobile" %>
  </head>
  <body></body>
</html>
