/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require resources/css/sencha-touch
 *= require_self
*/

.calc-head {
	font-weight: bold;
	font-size: 10px;
	width: 24%;
	padding-left: 4px;
}

.calc-label {
  width: 29%;
  padding-left: 0;
}

.calc-body-field {
  font-size: 10px;
}

.calc-button {
  font-size: 11px;
}

.right-align input {
  text-align: right;
}

.right-align {
  width: 100%;
}

.right-align .x-form-label {
  display: none;
}

.aircraft-detail {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: fadein;
}

@-webkit-keyframes fadein {  
    from {  
    	opacity: 0;
    }  
  
    to {  
    	opacity: 1;
    }  
  } 

